﻿@using AkkaToDoApp.WebApp.Dto;
@using AkkaToDoApp.Users.Dto;
@using Microsoft.AspNetCore.SignalR.Client;
@using static AkkaToDoApp.Projects.Commands;

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn-close" @onclick="@ModalCancel"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@ProjectDto">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <label class="form-label">Project title</label>
                    <input for="Project title" class="form-control" @bind-value="ProjectDto.ProjectTitle" />
                    <label class="form-label">Project description</label>
                    <input for="Prject description" class="form-control" @bind-value="ProjectDto.ProjectDescription" />
                    <label class="form-label">Project owner</label>
                    <InputSelect class="form-select" @bind-Value="ProjectDto.ProjectOwnerId">
                        @foreach (var userProfile in UserProfiles)
                        {
                            <option value="@userProfile.UserProfileId">@userProfile.DisplayName</option>
                        }
                    </InputSelect>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="@ModalCancel">Cancel</button>
                @switch (DialogType)
                {
                    case ModalDialogType.Create:
                        <button type="button" class="btn btn-primary" @onclick="@ModalOk">Create</button>
                        break;
                    case ModalDialogType.Edit:
                        <button type="button" class="btn btn-info" @onclick="@ModalOk">Save</button>
                        break;
                }
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public ModalDialogType DialogType { get; set; }
    [Parameter]
    public ProjectDto ProjectDto { get; set; }
    [Parameter]
    public ProjectDto OldProjectDto { get; set; }
    [Parameter]
    public HubConnection _hubConnection { get; set; }
    [Parameter]
    public List<UserProfileProjection> UserProfiles { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        switch (DialogType)
        {
            case ModalDialogType.Create:
                Create();
                break;
            case ModalDialogType.Edit:
                Edit();
                break;
        }

        return OnClose.InvokeAsync(true);
    }

    private void Create()
    {
        if (!ProjectDto.ProjectOwnerId.Equals(Guid.Empty))
        {
             V1.CreateProject command = new V1.CreateProject(ProjectDto.ProjectId, ProjectDto.ProjectTitle, ProjectDto.ProjectDescription, ProjectDto.ProjectOwnerId);
            _hubConnection.SendAsync("CreateProject", command).Wait();
        }
    }

    private void Edit()
    {
        if (!ProjectDto.ProjectTitle.Equals(OldProjectDto.ProjectTitle))
        {
            V1.ChangeProjectTitle command = new V1.ChangeProjectTitle(ProjectDto.ProjectId, ProjectDto.ProjectTitle);
            _hubConnection.SendAsync("ChangeProjectTitle", command).Wait();
        }
        if (!ProjectDto.ProjectDescription.Equals(OldProjectDto.ProjectDescription))
        {
            V1.ChangeProjectDescription command = new V1.ChangeProjectDescription(ProjectDto.ProjectId, ProjectDto.ProjectDescription);
            _hubConnection.SendAsync("ChangeProjectDescription", command).Wait();
        }
    }
}