﻿@using AkkaToDoApp.WebApp.Dto;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Threading.Tasks;
@using static AkkaToDoApp.Users.Commands;

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn-close" @onclick="@ModalCancel"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@UserProfile">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <label class="form-label">First name</label>
                    <input for="First name" class="form-control" @bind-value="UserProfile.FirstName" />
                    <label class="form-label">Last name</label>
                    <input for="Last name" class="form-control" @bind-value="UserProfile.LastName" />
                    <label class="form-label">Display name</label>
                    <input for="Display name" class="form-control" @bind-value="UserProfile.DisplayName" />
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="@ModalCancel">Cancel</button>
                @switch (DialogType)
                {
                    case ModalDialogType.Create:
                        <button type="button" class="btn btn-primary" @onclick="@ModalOk">Create</button>
                        break;
                    case ModalDialogType.Edit:
                        <button type="button" class="btn btn-info" @onclick="@ModalOk">Save</button>
                        break;
                }
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public ModalDialogType DialogType { get; set; }
    [Parameter]
    public UserProfileDto UserProfile { get; set; }
    [Parameter]
    public UserProfileDto OldUserProfile { get; set; }
    [Parameter]
    public HubConnection _hubConnection { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        switch (DialogType)
        {
            case ModalDialogType.Create:
                Create();
                break;
            case ModalDialogType.Edit:
                Edit();
                break;
        }

        return OnClose.InvokeAsync(true);
    }

    private void Create()
    {
        V1.CreateUserProfile command = new V1.CreateUserProfile(UserProfile.UserProfileId, UserProfile.FirstName, UserProfile.LastName, UserProfile.DisplayName);
        _hubConnection.SendAsync("CreateUserProfile", command).Wait();
    }

    private void Edit()
    {
        if (!UserProfile.FirstName.Equals(OldUserProfile.FirstName))
        {
            V1.ChangeFirstName command = new V1.ChangeFirstName(UserProfile.UserProfileId, UserProfile.FirstName);
            _hubConnection.SendAsync("ChangeFirstName", command).Wait();
        }

        if (!UserProfile.LastName.Equals(OldUserProfile.LastName))
        {
            V1.ChangeLastName command = new V1.ChangeLastName(UserProfile.UserProfileId, UserProfile.LastName);
            _hubConnection.SendAsync("ChangeLastName", command).Wait();
        }

        if (!UserProfile.DisplayName.Equals(OldUserProfile.DisplayName))
        {
            V1.ChangeDisplayName command = new V1.ChangeDisplayName(UserProfile.UserProfileId, UserProfile.DisplayName);
            _hubConnection.SendAsync("ChangeDisplayName", command).Wait();
        }
    }
}