﻿@page "/projects"

<PageTitle>Projects</PageTitle>

@using AkkaToDoApp.Projects.Dto;
@using AkkaToDoApp.WebApp.Hubs;
@using AkkaToDoApp.WebApp.Dto;
@using AkkaToDoApp.Projects;
@using AkkaToDoApp.Users.Dto;
@using static AkkaToDoApp.Projects.Commands;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h1>Projects</h1>
<button class="btn btn-primary" @onclick="() => OnCreateButtonClick()">Create</button>
@if (!projections.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var projection in projections)
            {
                <tr>
                    <td>@projection.ProjectId</td>
                    <td>@projection.ProjectTitle</td>
                    <td>@projection.ProjectDescription</td>
                    <td>@projection.ProjectOwnerName</td>
                    <td><button class="btn btn-info" @onclick="() => OnEditButtonCLick(projection.ProjectId, projection.ProjectTitle, projection.ProjectDescription)">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@if(DialogIsOpen)
{
    <ProjectDialog Title="@modalDialogOps.DialogTitle"
        DialogType="@modalDialogOps.Type"
        OnClose="@OnDialogClose"
        ProjectDto="@projectDto"
        OldProjectDto="@oldProjectDto"
        UserProfiles="@userProjections"
        _hubConnection="@_projectHubConnection">
    </ProjectDialog>
}

@code {
    private HubConnection? _projectHubConnection;
    private HubConnection? _userHubConnection;
    private List<ProjectProjection> projections = new List<ProjectProjection>();
    private List<UserProfileProjection> userProjections = new List<UserProfileProjection>();
    private bool DialogIsOpen = false;
    private ModalDialogOps? modalDialogOps;
    private ProjectDto? projectDto;
    private ProjectDto? oldProjectDto;

    protected override async Task OnInitializedAsync()
    {
        _projectHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(HubConfigurationConstants.ProjectHubName))
            //.WithUrl(new Uri("http://localhost" + HubConfigurationConstants.ProjectHubName))
            .WithAutomaticReconnect()
            .Build();

        _userHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(HubConfigurationConstants.UserHubName))
            //.WithUrl(new Uri("http://localhost" + HubConfigurationConstants.UserHubName))
            .WithAutomaticReconnect()
            .Build();

        _projectHubConnection.On<List<ProjectProjection>>("writeProjectProjection", message =>
        {
            projections = message;
            StateHasChanged();
        });

        _userHubConnection.On<List<UserProfileProjection>>("FetchUserProfileProjections", message =>
        {
            userProjections = message;
            StateHasChanged();
        });

        await _projectHubConnection.StartAsync();
        await _userHubConnection.StartAsync();
        await _projectHubConnection.SendAsync("UpdateProjectList");
    }

    private record ModalDialogOps
    {
        public string DialogTitle { get; set; }
        public ModalDialogType Type { get; set; }

        public ModalDialogOps(string dialogTitle, ModalDialogType type)
        {
            DialogTitle = dialogTitle;
            Type = type;
        }
    }

    private async void OnCreateButtonClick()
    {
        await _userHubConnection.SendAsync("UpdateUserProfileList");
        modalDialogOps = new ModalDialogOps("Create project", ModalDialogType.Create);
        projectDto = new ProjectDto
        {
            ProjectId = Guid.NewGuid()
        };
        DialogIsOpen = true;
        StateHasChanged();
    }

    private void OnEditButtonCLick(Guid projectId, string projectTitle, string projectDescription)
    {
        modalDialogOps = new ModalDialogOps($"Edit project {projectId}", ModalDialogType.Edit);
        projectDto = new ProjectDto
        {
            ProjectId = projectId,
            ProjectTitle = projectTitle ?? "",
            ProjectDescription = projectDescription ?? ""
        };
        oldProjectDto = new ProjectDto
        {
            ProjectId = projectId,
            ProjectTitle = projectTitle ?? "",
            ProjectDescription = projectDescription ?? ""
        };
        DialogIsOpen = true;
        StateHasChanged();
    }

    private void OnDialogClose()
    {
        DialogIsOpen = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (_projectHubConnection is not null)
        {
            await _projectHubConnection.DisposeAsync();
        }
        if (_userHubConnection is not null)
        {
            await _userHubConnection.DisposeAsync();
        }
    }
}
