﻿@page "/userProfiles"

<PageTitle>User profiles</PageTitle>

@using AkkaToDoApp.Users.Dto;
@using AkkaToDoApp.WebApp.Hubs;
@using AkkaToDoApp.WebApp.Dto;
@using AkkaToDoApp.Users;
@using static AkkaToDoApp.Users.Commands;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h1>User profiles</h1>
<button class="btn btn-primary" @onclick="() => OnCreateButtonClick()">Create</button>
@if (!projections.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Display name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var projection in projections)
            {
                <tr>
                    <td>@projection.UserProfileId</td>
                    <td>@projection.FirstName</td>
                    <td>@projection.LastName</td>
                    <td>@projection.DisplayName</td>
                    <td><button class="btn btn-info" @onclick="() => OnEditButtonCLick(projection.UserProfileId, projection.FirstName, projection.LastName, projection.DisplayName)">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@if(DialogIsOpen)
{
    <UserProfileDialog Title="@modalDialogOps.DialogTitle"
        DialogType="@modalDialogOps.Type"
        OnClose="@OnDialogClose"
        UserProfile="@userProfileDto"
        OldUserProfile="@oldUserProfileDto"
        _hubConnection="@_hubConnection">

    </UserProfileDialog>
}

@code {
    private HubConnection? _hubConnection;
    private List<UserProfileProjection> projections = new List<UserProfileProjection>();
    private bool DialogIsOpen = false;
    private ModalDialogOps? modalDialogOps;
    private UserProfileDto? userProfileDto;
    private UserProfileDto? oldUserProfileDto;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(NavigationManager.BaseUri + HubConfigurationConstants.UserHubName);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(new Uri(NavigationManager.BaseUri + "hubs/user"))
            //.WithUrl(new Uri("http://localhost" + HubConfigurationConstants.UserHubName))
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<List<UserProfileProjection>>("FetchUserProfileProjections", message =>
        {
            projections = message;
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
        await _hubConnection.SendAsync("UpdateUserProfileList");
    }

    private record ModalDialogOps
    {
        public string DialogTitle { get; set; }
        public ModalDialogType Type { get; set; }

        public ModalDialogOps(string dialogTitle, ModalDialogType type)
        {
            DialogTitle = dialogTitle;
            Type = type;
        }
    }

    private async void OnCreateButtonClick()
    {
        modalDialogOps = new ModalDialogOps("Create user profile", ModalDialogType.Create);
        userProfileDto = new UserProfileDto
        {
            UserProfileId = Guid.NewGuid()
        };
        DialogIsOpen = true;
        StateHasChanged();
    }

    private void OnEditButtonCLick(Guid userProfileId, string firstName, string lastName, string displayName)
    {
        modalDialogOps = new ModalDialogOps($"Edit project {userProfileId}", ModalDialogType.Edit);
        userProfileDto = new UserProfileDto
        {
            UserProfileId = userProfileId,
            FirstName = firstName,
            LastName = lastName,
            DisplayName = displayName
        };
        oldUserProfileDto = new UserProfileDto
        {
            UserProfileId = userProfileId,
            FirstName = firstName,
            LastName = lastName,
            DisplayName = displayName
        };
        DialogIsOpen = true;
        StateHasChanged();
    }

    private void OnDialogClose()
    {
        DialogIsOpen = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
